<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Title</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis cumque doloribus praesentium aliquam repellat dolorum itaque placeat, consequuntur minus velit veniam? Ipsum minima dignissimos aliquam unde, dolor labore cumque saepe.</p>
    <h1>
        <%= horoshaNazva.name %>
    </h1>
    <div><%= horoshaNazva.height %></div>
    <div><%= horoshaNazva.mass %></div>
    <div><%= horoshaNazva.hair_color %></div>
    <div><%= horoshaNazva.skin_color %></div>
    <div><%= horoshaNazva.eye_color %></div>
    <div><%= horoshaNazva.birth_year %></div>
    <div><%= horoshaNazva.gender %></div>
    <div><%= horoshaNazva.homeworld %></div>
</body>
</html>